
*{
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #EBEBEB;    
    font-family: Verdana, sans-serif;
}

.navbar {
    overflow: hidden;
    font-size: 24px;
    background-color: #07749C;
}
.navbar__link{
    float: left;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #1C1C21;
    font-weight: bold;
    padding: 20px;
}
.navbar__link:hover{
    background-color: #E1515F;
}

.navbar__user{
    float: right;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #1C1C21;
    font-weight: bold;
    padding: 20px;
}
.navbar__user:hover{
    background-color: #E1515F;
}

.account_name{
    margin: 0;
    padding-right: 30px;
}

.main_title{
    text-align: center;
    padding: 10px;
}
.games_title{
    text-align: center;
    color: #07749C;
    text-decoration: underline;
}

.games{
    margin: 1% 1%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    list-style: none;
}

.game_block{
    width: 90%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    display: inherit;
    
    border-style: solid;
    border-radius: 35px;
    border-width: 7px;
    border-color: #F41915;
    background-color: #D3D6D9;
}

.game_block_team {
    font-size: 24px;
    text-decoration: bold;
    margin: auto;
    color: 07749C;
    text-align: center;
}

.game_time {
    vertical-align: text-top;
    margin-left: auto;
    margin-right: auto;
}

.team_and_button_A{
   display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px;
    width: 200px;
    height: 200px;
    float: left;
}

.team_and_button_B{
   display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px;
    width: 200px;
    height: 200px;
    float: right;
}

.game_block_button{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}
.game_block_button:hover{
    cursor: pointer;
    background-color: #f8f8f8b0
}
