html{
    font-family: Lato, sans-serif;
}

*{
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: lightblue;    
}

.navbar {
    margin: 1% 1%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    background-color: black;
}

.navbar__navigation{
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    color: #5c6b70;
}

.nav_item{
    margin-left: 50px;
}

.navbar__link{
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 25px;
    border-radius: 15px;
}

.gameBox{
    margin: auto;
    border: 4px solid rgb(11, 11, 143);
    margin: 10px;
    padding:10px;
}