html{
    font-family: Lato, sans-serif;
}

*{
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: lightblue;    
}

.navbar {
    margin: 1% 1%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    background-color: black;
}

.navbar__navigation{
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    color: #5c6b70;
}

.nav_item{
    margin-left: 50px;
}

.navbar__link{
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 25px;
    border-radius: 15px;
}
.account_name{
    margin: 0;
    padding-right: 30px;
}

.games{
    margin: 1% 1%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    list-style: none;
}

.game_block{
    width: 90%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    background-color: gray;
    display: inherit;
    padding: 50px 20% 70px 20%;
}

.game_block_team {
    font-size: 24px;
    margin: 2;
    color: greenyellow;
    padding: 20px;
    width: 200px;
}

.game_block_time {
    margin: 20px;
}

.team_and_button{
   display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px;
    width: 200px;
    height: 200px;
}

.game_block_button{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}
.game_block_button:hover{
    cursor: pointer;
    background-color: #f8f8f8b0
}
