<html>
    <head>
        <title> {% block title %}{% endblock %}</title>
        <!--<link rel="stylesheet" href="static/style.css" />-->
        <link href="{{ url_for('static', filename='style/style.css')}}" rel="stylesheet"/>
    </head>    
    <body>
     <!-- Beginning of Header-->   
        <nav class = "navbar">
            <ul class="navbar__navigation">
                <li class="nav_item"><a class="navbar__link" href="/">Home</a></li>
                <li class="nav_item"><a class="navbar__link" href="/myStats">My Stats</a></li>
                <li class="nav_item"><a class="navbar__link" href="/groups">Groups</a></li>
            </ul>
            <ul class="navbar__navigation">
                <p class="account_name">{{username}}</p>
            </ul>
        </nav>
    <!-- End of Header-->
    <!-- Page Content-->
    {% block content %}{% endblock %}

    <!--Footer-->
    </body>
</html>