{% extends "_base.html" %}
{% block title %}PittBett Groups{% endblock %}

  <body>
      {% block content %}
    <h1>PittBett</h1>
    <p class=group_button><a href="/groups/create_group">Create Group</a> </p>
    <p class=group_button><a href="/groups/join_group">Join Group</a> </p>
    <div id="container"></div>
    {% if groups is not none %}
        {% for group in groups %}
        {% set outer_loop = loop %}        
            <div class="group_name_{{ loop.index0 }}">{{ groupNames[loop.index0] }}</div>
            <div id="row_header">
                    <div id="name_header">Username</div><div id="score_header">Points</div>
            </div>
            {% for member in group %}
                <div class="row_{{ outer_loop.index0 }}_{{ loop.index0 }}">
                    <div class="name">{{member.username}}</div><div class="score">{{member.points}}</div>
                </div>
            
            {% endfor %}
        {% endfor %}
    {% endif %}
    <script src="/static/group.js"></script>
    {% endblock %}
  </body>