<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is the main page</title>
  </head>
  <body>
    <h1>PittBett</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in leo eget nisl dapibus venenatis. Morbi sed erat eu nulla euismod pellentesque vel id felis. 
        Vivamus condimentum enim vitae enim fermentum iaculis. Curabitur tincidunt laoreet accumsan. Aliquam erat volutpat. Praesent sodales lectus id pretium ornare. 
        Aenean congue fermentum molestie. Nunc gravida, ante at tempus fringilla, felis diam vestibulum nisl, nec pellentesque urna enim et augue. Donec quis enim et arcu interdum dictum et id libero.
    </p>
  </body>