{% extends "_base.html" %}
{% block title %}PittBet Home{% endblock %}

  <body>
      {% block content %}
    <h1 class=main_title>Welcome to PittBett</h1>
    <h2 class=games_title>Today's Games: {{ newlist |length }}</h2> 
    <ul class="games">
        {% for game in newlist %}
        <li class="game_block">
            <div class="team_and_button_A">
                <p class="game_block_team">{{ game.0 }}</p>
                <a href="/bet/{{game.2}}/visitor">
                    <button class="game_block_button">Bet Visitor</button>
                </a>
            </div>
            <div class="game_time">
                <h4 class="game_block_time" id={{game.2}}> {{ timelist[loop.index0] }} </h4>
            </div>
            <div class="team_and_button_B">
                <p class="game_block_team">{{ game.1 }}</p>
                <a href="/bet/{{game.2}}/home">
                    <button class="game_block_button">Bet Home</button>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
  </body>