{% extends "_base.html" %}
{% block title %}PittBett Join Group{% endblock %}

{% block content %}
<div class="centeredGroup">
    <h1>Join Group</h1>
    <form action="/groups/join_group" method="POST" enctype="multipart/form-data">
    <p>
      <label>Group Name:</label>
      <input type="text" name="group_name" required>
    </p>
    <p>
      <label>Password:</label>
      <input type="password" name="group_password">
    </p>
    <button class="JoinCreateButton" type="submit">Join Group</button>
  </form>
</div>
{% endblock %}