<style>
    #signup-form{
        display: grid;
        justify-items: center;
        align-items: center;
        margin-top: 15px;
    }
    #signup-form-field{
        margin-bottom: 10px;
        border-radius: 2px;
        padding: 0px 0px 5px 5px;
    }
    p{
        color: white;
        text-align: center;
        border: 5px red;
        background-color: red;
    }
</style>

{% extends "_base.html" %}
{% block title %}Signup{% endblock %}

{% block content %}
{% if error is not none %}
<p>{{error}}</p>
{% endif %}
<form action="/auth/signup" method="POST" enctype="multipart/form-data" id="signup-form">
    <input type="text" name="username" placeholder="Username" id="signup-form-field">
    <input type="password" name="password" placeholder="Password" id="signup-form-field">
    <input type="password" name="confirm-password" placeholder="Confirm Password" id="signup-form-field">
    <button type="submit">Sign Up</button>
</form>
{% endblock %}